In [1]:
import pandas as pd

In [18]:
data = pd.read_csv('../data/ABSA/asap_meituan/data/train.csv', header = 0)

In [19]:
data.head(10)

,id,review,star,Location#Transportation,Location#Downtown,Location#Easy_to_find,Service#Queue,Service#Hospitality,Service#Parking,Service#Timely,...,Price#Cost_effective,Price#Discount,Ambience#Decoration,Ambience#Noise,Ambience#Space,Ambience#Sanitary,Food#Portion,Food#Taste,Food#Appearance,Food#Recommend
0,46277,状元楼饭店第一次去，因为地理位置优越：在宁波市和义大道高、大、上，里面装修中式，菜是地道的宁...,5.0,1,1,1,-2,1,-2,-2,...,-2,-2,1,-2,-2,-2,-2,1,-2,-2
1,23691,我最爱他们家的猪手，麻辣鸡爪，肉片口磨，道道菜都是家常菜的味道，非常的好吃，是原来的昊烨，和...,5.0,1,-2,-2,-2,1,-2,-2,...,-2,-2,-2,-2,-2,1,-2,1,-2,-2
2,23660,我是比较喜欢荣新馆的，因为材料新鲜，服务又好，价格适中，但是老公每次吃都会拉肚子，特神奇，我...,4.0,-2,-2,-2,-2,1,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,0,1,-2
3,379,8.8秒杀的多嘴肉蟹煲，第一天开业就去了，大众点评很给力，排了两个半小时的队才轮到，他家很年...,5.0,-2,-2,-2,-1,1,-2,-2,...,-2,1,-2,-2,-2,-2,1,1,-2,-2
4,13811,喜欢KOI好多年了，但是看着它的价格在一路飙涨，真心是有点越来越爱不起来了呢。不过还好有大众...,5.0,-2,1,-1,-2,-2,-2,-2,...,-2,1,-2,-2,-2,-2,1,1,-2,-2
5,26476,月底就是父亲生日了今天去给老爸订了个板栗蓉的蛋糕，感觉很划算，现在大众点评网搞活闪付5折很划...,5.0,-2,-2,-2,-2,-2,-2,-2,...,1,1,-2,-2,-2,-2,-2,1,1,-2
6,13894,嗯，第三次来了，西米糕没有了，遗憾；中午来的时候还是人多要等，估计和工作日有关，上次工作日晚...,4.0,-2,-2,-2,-2,0,-2,-2,...,1,0,-2,-2,0,-2,-2,0,1,1
7,27690,本来没打算吃火锅的，这家味道实在太香....店里有实付100送50抵价券的活动，还好优惠买单...,4.0,1,-2,-2,-2,1,-2,-2,...,1,0,1,1,1,1,-2,0,-2,-2
8,39309,这店在仓边路公车站附近 老字号 是一家价格实惠的简餐店。以快餐和粥粉面为主 也有小炒等。环境...,2.0,1,-2,-2,-2,-2,-2,-2,...,-2,-2,0,0,-1,0,1,0,-2,-2
9,8664,"其实本来是要去吃郑爽爽咖喱羊排的,可是,没想到杀过去的时候店门竟然没开,明明那时候已经12点...",3.0,-2,-2,-2,-2,-2,1,1,...,-2,-2,0,-2,-2,-2,0,1,1,-2

In [20]:
data.columns.values

array(['id', 'review', 'star', 'Location#Transportation',
       'Location#Downtown', 'Location#Easy_to_find', 'Service#Queue',
       'Service#Hospitality', 'Service#Parking', 'Service#Timely',
       'Price#Level', 'Price#Cost_effective', 'Price#Discount',
       'Ambience#Decoration', 'Ambience#Noise', 'Ambience#Space',
       'Ambience#Sanitary', 'Food#Portion', 'Food#Taste',
       'Food#Appearance', 'Food#Recommend'], dtype=object)

In [21]:
data_test = pd.read_csv('../data/ABSA/asap_meituan/data/test.csv', header = 0)

In [22]:
data_test.columns.values

array(['id', 'review', 'star', 'Location#Transportation',
       'Location#Downtown', 'Location#Easy_to_find', 'Service#Queue',
       'Service#Hospitality', 'Service#Parking', 'Service#Timely',
       'Price#Level', 'Price#Cost_effective', 'Price#Discount',
       'Ambience#Decoration', 'Ambience#Noise', 'Ambience#Space',
       'Ambience#Sanitary', 'Food#Portion', 'Food#Taste',
       'Food#Appearance', 'Food#Recommend'], dtype=object)

In [23]:
data_test.head()

,id,review,star,Location#Transportation,Location#Downtown,Location#Easy_to_find,Service#Queue,Service#Hospitality,Service#Parking,Service#Timely,...,Price#Cost_effective,Price#Discount,Ambience#Decoration,Ambience#Noise,Ambience#Space,Ambience#Sanitary,Food#Portion,Food#Taste,Food#Appearance,Food#Recommend
0,13482,和老公的朋友们聚餐，选择了这家烧肉屋，据说人气很旺，于是定座的，我们坐在楼上，阁楼感觉有点空...,4.0,-2,-2,-2,-2,-2,-2,-2,...,-2,-2,0,-2,-2,-2,1,1,-2,-2
1,25634,昨天晚上想找个安静的环境和同事谈工作，去了绿茵阁。我是第一次到该店，一进去感觉很温馨，环境优...,4.0,-2,-2,-2,-2,0,-2,-2,...,-2,-2,1,1,1,-2,-2,1,-2,-2
2,6383,以前听朋友说超级推荐 然后她又在野餐的时候买了这里的瘦身沙拉 我就更加期待 因为平时不在这一...,5.0,-2,-2,-2,-2,0,-2,-2,...,1,-2,1,-2,-2,-2,-2,1,-2,-2
3,46407,看到大众点评网的推荐来试试看，在意大利餐厅吃泰国菜虽然说是创意泰菜，也只是摆盘更多变、时尚，...,4.0,-2,-2,-2,-2,-2,-2,-2,...,0,-2,1,-2,-2,-2,0,1,1,-2
4,15715,在清迈我唯一推荐的一家餐厅，非常非常正宗的泰北菜。叫做河岸餐厅顾名思义就在河边，我建议傍晚的...,5.0,-2,-2,-2,0,1,-2,-2,...,-2,-2,1,-2,-2,-2,-2,1,1,1